//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #575962;
$white-color: #ffffff;
$black-color: #333333;
$transparent-bg : transparent;
$default-color : #607D8B;
$primary-color : #709e07;
$info-color : #007b91;
$success-color : #709e07;
$warning-color : #ef5705;
$danger-color : #b9181f;

$font-weight-light : lighter;
$font-weight-normal : 400;
$font-weight-mediumbold : 500;
$font-weight-bold : 600;
$font-weight-extrabold : 800;